body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

/* styling header */
header {
    display: flex;
    justify-content: space-between;
    width: 65%;
}
header li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* header i {
    padding: 30px 20px 20px 20px;
    font-size: 25px;
    cursor: pointer;
} */

summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.arrow {
    font-size: 26px;
    align-items: center;
}

.dropdown-menu {
    padding-left: 15px;
    margin-top: 15px;
}

.dropdown-menu li {
    margin: 8px 0;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    background-color: #1E3A5F;
    margin-top: 10px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0 20px;
    color: white;
}

.logo h1, .logo p, .logo .reg {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.logo p {
    padding-left: 70px;
}

.logo .reg {
    padding-left: 200px;
}


/* Styling the hero section */
.hero {
    background-color: #1E3A5F;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    height: 450px;
    color: white;
}

.hero-text {
    padding-left: 20px;
    padding-top: 100px;
}

.hero-text h1 {
    font-size: 42px;
}

.hero-text p {
    margin-bottom: 50px;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 30px 20px;
}

.hero-image img {
    width: 150px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
}

.hero button {
    border: 2px solid black;
    background-color: #4A6572;
    color: white;
    padding: 15px 20px;
    font-weight: bold;
    font-size: larger;
    border-radius: 3px;
    cursor: pointer;
}



/* Styling the main section */
.main h2 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}

.main p {
    text-align: left;
}

.main img {
    border-radius: 80px;
    width: 90%;
    margin: 30px 0 5px 0;
}


.card-1, .card-2, .card-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card-1-1, .card-1-2, .card-2-1, .card-2-2, .card-2-3, .card-3-2, .card-3-3 {
    background-color: #4A6572;
    border-radius: 30px;
    text-align: center;
    height: 500px;
    padding: 10px;
    color: white;
    margin: 30px 20px 20px 20px;
    line-height: 1.6;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25)
}

.card-1-3, .card-3-1 {
    margin-top: 50px;
    font-size: 25px;
    padding-right: 30px;
}


/* Styling the why-choose section */
.container {
    background-color: #4A6572;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.left {
    margin-left: 40px;
}

.left img {
    width: 80%;
    margin-top: 10px;
    height: 150px;
    object-fit: cover;
    margin-left: 20%;
}

.left-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.right {
    margin-right: 40px;
}

.right-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right-image {
    display: flex;
    gap: 15px;
    margin: 40px 0px 20px 40px;
}

.right-image img {
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
    
}


/* Styling the form section */
.form-section {
    width: 100%;
    background-color: #F8F9FA;
    padding: 60px 0;
    margin: 30px 0;
}
.form-container {
    width: 20%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid rgb(141, 136, 136);
    background-color: #FFFFFF;
    border: 1PX solid #D6DCE5;
    border-radius: 8PX;
}

.form-group textarea {
    width: 30%;
    padding: 30px;
    border: 1px solid rgb(141, 136, 136);
    background-color: #FFFFFF;
    border: 1PX solid #D6DCE5;
    border-radius: 8PX;
}

.form-group label {
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.services label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-container button {
    background-color: rgb(206, 207, 209);
    padding: 15px 15px;
    border: 1px solid rgb(120, 124, 132);
    cursor: pointer;
}


/* Styling the footer */
footer {
    background-color: #4A6572;
    color: white;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 50px;
}

.footer-connect a {
    color: white;
    cursor: pointer;
}

.socials-icons i {
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.closing {
    margin-top: 50px;
}

.developer {
    color: yellow;
    cursor: pointer;
}

/* Styling services pages */
.services-container h1 {
    background-color: #1E3A5F;
    color: white;
    padding: 30px 70px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    position: relative;
}

.services-container p {
    font-size: 20px;
}

.services-content {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.services-image {
    flex: 1;
}

.services-text {
    flex: 1;
    line-height: 1.6;
}

.services-image img {
    width: 90%;
    height: auto;
    display: block;
    padding-left: 30px;
}

.bottom-text {
    padding: 20px;
    line-height: 1.6;
}


/* Styling About Us Page */
.about-section {
    padding:
}

.about-image img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 60px 0;
}

.about-text {
    max-width: 900px;
    margin: 40px auto 0;
    text-align: left;
    line-height: 1.8;
    padding: 0 20px;
}



/* Styling for Responsive design */

@media (max-width: 760px) {
    /* header ul { 
        display: none;
    } */

    /* Hero section */
    .hero {
        display: flex;
        flex-direction: column;
        height: 1100px;
    }

    .hero-image {
        display: flex;
        flex-direction: column;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }

    /* Main section */
    .main h2 {
        text-align: left;
        font-size: 30px;
        padding-left: 10px;
    }

    .card-1, .card-2, .card-3, .container, footer, .left-text, .right-text, .right-image {
        display: flex;
        flex-direction: column;
    }
    
    .card-1-1, .card-1-2, .card-2-1, .card-2-2, .card-2-3, .card-3-2, .card-3-3 {
        margin: 10px 0;
    }

    .card-1-3, .card-3-1 {
        margin-top: 0;
        margin-left: 10px;
    }


    /* Why-choose section */
    .container {
        margin-top: 20px;
    }

    .left, .right {
        margin: 20px;
    }

    .container img {
        width: 100%;
        margin: 0;
        height: auto;
    }

    /* Form section */
    .form-container {
        width: 90%;
        margin: 0 auto;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    /* Services pages */
    .services-content {
        flex-direction: column;
    }

    /* About page */
    .about-image {
        width: 250px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

}
